<ion-view view-title="Account Settings ">
   <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable swag
    </ion-toggle>
    </ion-toggle>
        <ion-toggle  ng-model="settings.enableFriends">
        Notifications (Alert and Push)
    </ion-toggle>
        <ion-toggle  ng-model="settings.enableFriends">
        Feed Notifications (any updates you've subscribed to)
    </ion-toggle>
        <ion-toggle  ng-model="settings.enableFriends">
        Hide my personal data on Profile
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>